name: MF CI Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Verify MF remoteEntry
        run: ls dist/remoteEntry.js

      - name: Build Docker image
        run: docker build -t shall-app:${{ github.sha }} .
